* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  width: 100%;
  padding: 1rem;
  font-size: 15px;
  background: hsl(233, 47%, 7%);
}

::-webkit-scrollbar {
  display: none;
}

main {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 0 auto;
  color: hsla(0, 0%, 100%, 0.75);
  width: 355px;
  height: auto;
  background: hsl(244, 38%, 16%);
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cardimage {
  max-width: 100%;
  height: auto;
  background: url(./assets/image-header-mobile.jpg) no-repeat;
  background-size: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.cardimagecolor {
  background: rgb(154, 12, 241);

  opacity: 0.4;

  width: 100%;
  height: 15rem;

  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.cardcontent {
  text-align: center;
  padding: 2rem;
}

.cardcontent h1 {
  margin-bottom: 1rem;
  line-height: 1.1;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.cardcontent span {
  color: hsl(277, 64%, 61%);
}

.cardcontent p {
  line-height: 1.6;
  width: 17rem;
  margin: auto;
  color: hsla(0, 0%, 100%, 0.75);
}

.datanumbers {
  margin-top: 2rem;
}

.datanumbers h2 {
  color: hsla(0, 0%, 100%, 0.6);
  line-height: 1.5;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 900px) {
  html,
  body {
    height: 100vh;
  }

  .card {
    padding: 0;
    width: 1000px;
    height: 390px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
  }

  .cardimage {
    max-width: 100%;
    height: 390px;
    background: url(./assets/image-header-desktop.jpg) no-repeat;

    border-top-left-radius: 0rem;
    border-bottom-right-radius: 0.5rem;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .cardimagecolor {
    background: rgb(154, 12, 241);

    max-width: 100%;
    height: 390px;

    border-top-left-radius: 0rem;
    border-bottom-right-radius: 0.5rem;
  }

  .cardcontent {
    height: auto;

    text-align: left;
    padding: 5rem 3rem;
  }

  .cardcontent h1 {
    margin-bottom: 1rem;

    line-height: 1.1;
    font-weight: 700;

    color: hsl(0, 0%, 100%);
  }

  .cardcontent p {
    line-height: 1.6;

    width: auto;

    margin: auto;

    color: hsla(0, 0%, 100%, 0.75);
  }

  .datanumbers {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
